@model Feedback
@{
    ViewData["Title"] = "CompNSK";
}

<h1>Обратная связь</h1>

@if (ViewBag.SuccessMessage != null)
{
    <div style="color: green; font-weight: bold;">
        @ViewBag.SuccessMessage
    </div>
}

<form method="post" asp-controller="home" asp-action="Check">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Phone_Number"></label>
    <input asp-for="Phone_Number" />
    <span asp-validation-for="Phone_Number"></span>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="Message"></label>
    <input asp-for="Message" />
    <span asp-validation-for="Message"></span>

    <input type="submit" value="Отправить" />
</form>
