@{
    ViewData["Title"] = "CompNSK";
}



<div class="screen">
    <div class="text-wrapper">Наши услуги</div>
    <div class="view">
        <!-- Карточка 1: Апгрейд -->
        <div class="overlap">
            <div class="div">Апгрейд</div>
            <p class="p">
                <span class="span">Тормозит пк?<br /><br /></span>
                <span class="text-wrapper-2">
                    Модернизация компьютеров и ноутбуков: установка новых комплектующих и увеличение производительности.<br />
                </span>
            </p>
        </div>

        <!-- Карточка 2: Ремонт -->
        <div class="overlap-group">
            <div class="text-wrapper-3">Ремонт</div>
            <p class="div-2">
                <span class="span">Ваш пк сломался?<br /><br /></span>
                <span class="text-wrapper-2">
                    Профессиональный ремонт компьютеров и ноутбуков. Диагностика и устранение неисправностей в кратчайшие сроки.<br />
                </span>
            </p>
        </div>

        <!-- Карточка 3: Консультация -->
        <div class="overlap-group-2">
            <div class="text-wrapper-4">Консультация</div>
            <p class="div-2">
                <span class="span">Хотите собрать ПК?<br /><br /></span>
                <span class="text-wrapper-2">
                    Квалифицированные консультации по выбору, настройке и модернизации компьютерной техники. <br />
                </span>
            </p>
        </div>
    </div>
</div>